* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  
  .flex-container {
    display: flex;
    flex-direction: column;
    background-color: darkgrey;
  }
  
  div {
    background-color: rgb(247, 247, 232);
    padding: 1em;
    margin: 1em;
    justify-content: center;
  }
  
  p {
    padding: 5px 5px 5px 0px;
  }
  
  ol {
    padding-left: 20px;
  }
  
  button {
    margin-top: 10px;
  }